%tr{:class => cycle("Col", nil)}
  %td!= attendee.position
  %td!= image_tag attendee.avatar.url(:small)
  %td!= attendee.firstname
  %td!= attendee.lastname
  %td!= attendee.organization
  %td!= link_to "lien", attendee.website unless attendee.website.blank?
  %td!= attendee.tags.join(", ")
  %td!= attendee.tshirt_size
