- if attendee_counter == 70
  %tr{:class => cycle("Col", nil)}
    %td{:colspan => 8}
      %strong{:style => "font-size: 20px;"} Liste d'attente

%tr{:class => cycle("Col", nil)}
  %td!= attendee_counter+1
  %td!= image_tag attendee.avatar.url(:small)
  %td!= attendee.first_name
  %td!= attendee.last_name
  %td!= attendee.organization
  %td
    - unless attendee.website.blank?
      - url = attendee.website =~ /http/ ? attendee.website : "http://#{attendee.website}"
      != link_to "lien", url
  %td!= attendee.tags
