%tr{:class => cycle("Col", nil)}
  %td!= attendee.position
  %td!= image_tag attendee.avatar.url(:small)
  %td!= attendee.firstname
  %td!= attendee.lastname
  %td!= attendee.organization
  - unless attendee.website.blank?
    - url = attendee.website =~ /http/ ? attendee.website : "http://#{attendee.website}"
    %td!= link_to "lien", url
  %td!= attendee.tags.join(", ")
  %td!= attendee.tshirt_size
