- @page_title = t("they_will_participate_and_you")

%h1!= t("they_will_participate_on", :date => l(Date.new(2010,5,8), :format => :long))
%p
  != t("come_join_us")
  != link_to t("subscribing_form"), new_attendee_path
#MemberListContainer
  %table{ :class => 'MemberList', :cellspacing =>'0', :cellpadding =>'0'}
    %tr
      %th{ :class => 'Place'}
      %th{ :class => 'Avatar'}
      %th{ :class => 'FirstName'}= t("lastname")
      %th{ :class => 'LastName'}= t("firstname")
      %th{ :class => 'Orgnisation'}= t("organization")
      %th{ :class => 'WebSite'}= t("website")
      %th{ :class => 'TagsList'}= t("tags")
      %th{ :class => 'TShirtSize'}
    %tbody#attendees
      != render :partial => "attendee", :collection => @attendees

