- @page_title = t(:nav_attending)

%h1= t(:nav_attending_long)
%p
  = t(:joins_us)
  != link_to t(:filling_form), new_attendee_path
#MemberListContainer
  %table{ :class => 'MemberList', :cellspacing =>'0', :cellpadding =>'0'}
    %tr
      %th{ :class => 'Place'}
      %th{ :class => 'Avatar'}
      %th{ :class => 'FirstName'}= t("attributes.first_name")
      %th{ :class => 'LastName'}= t("attributes.last_name")
      %th{ :class => 'Orgnisation'}= t("attributes.organization")
      %th{ :class => 'WebSite'}= t("attributes.website")
      %th{ :class => 'TagsList'} Tags
      %th{ :class => 'TShirtSize'}
    %tbody#attendees
      != render @attendees

