- @page_title = t(:nav_attend_now)

%h1 #{t(:attending_form)}
%p
  != t(:attending_count, :count => Attendee.count, :link => attendees_path)
= form_for @attendee, :html => {:multipart => true, :class => "SubScription"} do |f|
  != f.error_messages
  .ColLeft
    %fieldset.Separator
      != f.label :first_name
      != f.text_field :first_name, :class => 'Black Long'
    %fieldset.Separator
      != f.label :last_name
      != f.text_field :last_name, :class => 'Black Long'
    %fieldset
      != f.label :email
      != f.text_field :email, :class => 'Black Long'

  .ColRight
    %fieldset.Separator
      != f.label :organization
      != f.text_field :organization, :class => 'Black Long'
    %fieldset.Separator
      != f.label :website
      != f.text_field :website, :class => 'Black'
    %fieldset.Separator
      != f.label :tags
      != f.text_field :tags, :class => 'Black Long'
    %fieldset
      != f.submit
    
      %p= t(:form_note)

