.ColLeft
  %h1= t(:homepage_title)
  - ary = %w(autotrement braincity craftstudio htp3d strasmap)
  %p!= t(:homepage_body).gsub(/LOGO/){|x| image_tag("#{ary.shift}.png")}.html_safe
  %div{:style => "clear:both;"}
  %h1{:style => "margin-top:40px;"} Plan
  :preserve
    <iframe width="540" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=centre+de+culture+num%C3%A9rique+strasbourg&amp;sll=46.75984,1.738281&amp;sspn=8.86664,23.269043&amp;ie=UTF8&amp;hq=centre+de+culture+num%C3%A9rique&amp;hnear=Strasbourg,+Bas-Rhin,+Alsace&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=3520954289054219327&amp;ll=48.578488,7.763772&amp;output=embed"></iframe><br /><small><a href="https://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=centre+de+culture+num%C3%A9rique+strasbourg&amp;sll=46.75984,1.738281&amp;sspn=8.86664,23.269043&amp;ie=UTF8&amp;hq=centre+de+culture+num%C3%A9rique&amp;hnear=Strasbourg,+Bas-Rhin,+Alsace&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=3520954289054219327&amp;ll=48.578488,7.763772" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>
  %br
.ColRight
  %h2= t("partners")
  - hsh = {sfr: "sfr.fr", ccn: "services-numeriques.unistra.fr/culture-numerique/centre-de-culture-numerique.html", laplagedigitale: "laplagedigitale.eu", strasbourgtheeuroptimist: "strasbourg.eu", uds: "unistra.fr", mailforgood: "www.mailforgood.com"}
  - hsh.each do |k,v|
    %div{:style => "margin-left:auto;margin-right:auto;text-align: center;padding-top:5px;"}
      = link_to image_tag("#{k}.png"), "http://#{v}"
