- @page_title = t("welcome")
.ColLeft
  %h1 BarCampAlsace6.5
  != textilize t("intro_text")
  %iframe{:width => 425, :height => 350, :frameborder => 0, :scrolling => "no", :marginheight => 0, :marginwidth => 0, :src => @embed_gmaps_link }
  %br
  %small
    %a{:href => @gmaps_link, :style => "color:#0000FF;text-align:left"}
      = t("zoom_plan")
.ColRight
  %script{:src => "http://widgets.twimg.com/j/2/widget.js"}
  :javascript
    new TWTR.Widget({
      version: 2,
      type: 'search',
      search: '#barcampalsace',
      interval: 6000,
      title: 'On air',
      subject: 'BarCampAlsace',
      width: 250,
      height: 300,
      theme: {
        shell: {
          background: '#8ec1da',
          color: '#ffffff'
        },
        tweets: {
          background: '#ffffff',
          color: '#444444',
          links: '#1985b5'
        }
      },
      features: {
        scrollbar: true,
        loop: true,
        live: true,
        hashtags: true,
        timestamp: true,
        avatars: true,
        behavior: 'default'
      }
    }).render().start();
  %br
  %h2
    = t("some_photos")
    %br
    = t("from_prec_barcamp")
  %ul
    - 1.upto(8) do |i|
      %li!= link_to image_tag("photo#{i}t.jpg"), "/images/photo#{i}.jpg", :rel => 'lightbox', :title => "Photo #{i}"
