.ColLeft
  %h1!= @page.title
  != textilize @page.body
.ColRight
  %h2
    Quelques photos
    %br
    des précédents BarCampAlsace
  %ul
    - 1.upto(7) do |i|
      %li!= link_to image_tag("photo#{i}t.jpg"), "/images/photo#{i}.jpg", :rel => 'lightbox', :title => "Photo #{i}"
