.ColLeft
  %h1= t(:homepage_title).html_safe
  %p!= t(:homepage_body)
  %h1 Partenaires
  - %w(laplagedigitale ccn uds strasbourgtheeuroptimist sfr).each do |partner|
    = image_tag "#{partner}.png", style: "padding:10px;"
  %br
  %br
  %h1 Plan
  :preserve
    <iframe width="540" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=La+Plage+Digitale,+Route+du+Rhin,+Strasbourg&amp;aq=0&amp;oq=La+Plage,+Strasbourg&amp;sll=48.599123,7.587081&amp;sspn=1.707438,4.22699&amp;t=h&amp;ie=UTF8&amp;hq=La+Plage+Digitale,&amp;hnear=Route+du+Rhin,+Illkirch-Graffenstaden,+Bas-Rhin,+Alsace&amp;ll=48.573082,7.760267&amp;spn=0.121785,0.067438&amp;output=embed"></iframe><br /><small><a href="https://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=La+Plage+Digitale,+Route+du+Rhin,+Strasbourg&amp;aq=0&amp;oq=La+Plage,+Strasbourg&amp;sll=48.599123,7.587081&amp;sspn=1.707438,4.22699&amp;t=h&amp;ie=UTF8&amp;hq=La+Plage+Digitale,&amp;hnear=Route+du+Rhin,+Illkirch-Graffenstaden,+Bas-Rhin,+Alsace&amp;ll=48.573082,7.760267&amp;spn=0.121785,0.067438" style="color:#0000FF;text-align:left">Agrandir le plan</a></small>  %br
.ColRight
  :preserve
    <iframe width="251" height="141" src="http://www.youtube.com/embed/yhaIA6LpZDs" frameborder="0" allowfullscreen></iframe>
    <iframe width="251" height="141" src="http://www.youtube.com/embed/aHxv_2BMJfw" frameborder="0" allowfullscreen></iframe>
  %br
  %br
  - 1.upto(3).each do |i|
    %div{:style => "margin-left:auto;margin-right:auto;text-align: center;padding-top:5px;"}
      = image_tag "#{i}t.jpg"
