.ColLeft
  %h1= t(:homepage_title)
  %p!= t(:homepage_body)
  %h1 Plan
  :preserve
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=39,+avenue+des+Champs+Elys%C3%A9es+75008+Paris&amp;sll=46.75984,1.738281&amp;sspn=8.370921,23.269043&amp;ie=UTF8&amp;hq=&amp;hnear=39+Avenue+des+Champs-Elys%C3%A9es,+75008+Paris,+Ile-de-France&amp;z=14&amp;ll=48.870136,2.306453&amp;output=embed"></iframe><br /><small><a href="http://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=39,+avenue+des+Champs+Elys%C3%A9es+75008+Paris&amp;sll=46.75984,1.738281&amp;sspn=8.370921,23.269043&amp;ie=UTF8&amp;hq=&amp;hnear=39+Avenue+des+Champs-Elys%C3%A9es,+75008+Paris,+Ile-de-France&amp;z=14&amp;ll=48.870136,2.306453" style="color:#0000FF;text-align:left">#{ t(:super_size) }</a></small>
  %br
  %br
  %h1 Sponsors
  = image_tag "sponsors_#{I18n.locale}.png"
.ColRight
  %h2!= t(:homepage_some_photos)
  %ul
    - 1.upto(7) do |i|
      %li!= link_to image_tag("photo#{i}t.jpg"), "/images/photo#{i}.jpg", :rel => 'lightbox', :title => "Photo #{i}"
