.ColLeft
  %h1= t(:homepage_title)
  %p!= t(:homepage_body)
  %h1 Plan
  :preserve
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=110+rue+des+poissonniers+paris&amp;aq=&amp;sll=48.894688,2.346139&amp;sspn=0.016618,0.045447&amp;ie=UTF8&amp;hq=&amp;hnear=110+Rue+des+Poissonniers,+75018+Paris,+%C3%8Ele-de-France&amp;t=m&amp;z=14&amp;ll=48.894154,2.352884&amp;output=embed"></iframe><br /><small>Afficher <a href="http://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=110+rue+des+poissonniers+paris&amp;aq=&amp;sll=48.894688,2.346139&amp;sspn=0.016618,0.045447&amp;ie=UTF8&amp;hq=&amp;hnear=110+Rue+des+Poissonniers,+75018+Paris,+%C3%8Ele-de-France&amp;t=m&amp;z=14&amp;ll=48.894154,2.352884" style="color:#0000FF;text-align:left">110 Rue des Poissonniers</a> sur une carte plus grande</small>
  %br
.ColRight
  %h2 Sponsors
  %div{:style => "margin-left:auto;margin-right:auto;text-align: center;padding-top:5px;"}
    = link_to image_tag("novelys.png"), "http://www.novelys.com"
  %div{:style => "margin-left:auto;margin-right:auto;text-align: center;padding-top:5px;"}
    = link_to image_tag("sociabliz.png"), "http://sociabliz.com/"
  %div{:style => "margin-left:auto;margin-right:auto;text-align: center;"}
    = link_to image_tag("quelleenergie.png"), "http://www.quelleenergie.fr/"
  %div{:style => "margin-left:auto;margin-right:auto;text-align: center;"}
    = link_to image_tag("fotopedia.png"), "http://www.fotopedia.com/"
  %div{:style => "margin-left:auto;margin-right:auto;text-align: center;padding-top:5px;"}
    = link_to image_tag("tigerlily.png"), "http://tigerlilyapps.com/"
  %div{:style => "margin-left:auto;margin-right:auto;text-align: center;padding-top:10px;"}
    = link_to image_tag("vodeclic.png"), "http://www.vodeclic.com/"
  %div{:style => "margin-left:auto;margin-right:auto;text-align: center;padding-top:5px;"}
    = link_to image_tag("studiomelipone.png"), "http://www.studiomelipone.eu/"
  %div{:style => "margin-left:auto;margin-right:auto;text-align: center;padding-top:5px;"}
    = link_to image_tag("webpulser.png"), "http://www.webpulser.com/"
  %h2{:style => "margin-top:10px;"}!= t(:homepage_some_photos)
  %ul
    - 1.upto(6) do |i|
      %li!= link_to image_tag("photo#{i}t.jpg"), "/images/photo#{i}.jpg", :rel => 'lightbox', :title => "Photo #{i}"
  %div{:style => "width:250px;padding-top:10px;margin-top:10px;height:10px"}
