.ColLeft
  %h1= t(:homepage_title)
  %p!= t(:homepage_body)
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=17+Rue+des+Magasins,+Strasbourg&amp;sll=46.75984,1.738281&amp;sspn=8.354699,23.269043&amp;ie=UTF8&amp;hq=&amp;hnear=17+Rue+des+Magasins,+67000+Strasbourg,+Bas-Rhin,+Alsace&amp;z=14&amp;ll=48.590376,7.74022&amp;output=embed"></iframe><br /><small><a href="http://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=17+Rue+des+Magasins,+Strasbourg&amp;sll=46.75984,1.738281&amp;sspn=8.354699,23.269043&amp;ie=UTF8&amp;hq=&amp;hnear=17+Rue+des+Magasins,+67000+Strasbourg,+Bas-Rhin,+Alsace&amp;z=14&amp;ll=48.590376,7.74022" style="color:#0000FF;text-align:left">#{t(:super_size)}</a></small>
.ColRight
  %h2!= t(:homepage_some_photos)
  %ul
    - 1.upto(7) do |i|
      %li!= link_to image_tag("photo#{i}t.jpg"), "/images/photo#{i}.jpg", :rel => 'lightbox', :title => "Photo #{i}"
