.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active!= link_to "All users", admin_users_path
      %li!= link_to "Add user", new_admin_user_path
  .content
    %h2.title All users
    .inner
      %table.table
        %tr
          %th Email
          %th Admin?
          %th.last &nbsp;
        - @users.each do |user|
          %tr{:class => cycle("odd", "even")}
            %td!= user.email
            %td
              != check_box_tag 'admin', user.admin, user.admin?, :class => "inplace", :id => "user_#{user.id}"
              != image_tag "spinner.gif", :style => "display:none;", :id => "spinner_#{user.id}"
            %td.last
              != link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "Edit"), edit_admin_user_path(user)
              |
              != link_to image_tag("web-app-theme/icons/cross.png", :alt => "delete"), admin_user_path(user), :method => :delete, :confirm => "Êtes-vous sûr ?"
      .actions-bar.wat-cf
        .actions
        != will_paginate @users
        
- content_for :sidebar, render(:partial => 'sidebar')

:javascript
  $(document).ready(function () {
    $("input[type=checkbox].inplace").click(function(){
      uid = $(this).attr('id').split("_")[1];
      node = $(this);
      console.log(uid);
      url = "/admin/users/" + uid + "/update_admin_status";
      console.log(url);
      hsh = {value: $(this).val()}
      console.log(hsh);
      spinner_id = "#spinner_"+uid;
      console.log(spinner_id);
      $.ajax({
        url: url,
        data: hsh,
        dataType: "json",
        type: "POST",
        beforeSend: function() {
          node.hide();
          $(spinner_id).show();
        },
        success: function(data){
          $(spinner_id).hide();
          node.show();
        }
      });
    });

  });
