!!! Strict
/ Filename : Structure.html
/ Redered form : Structure.haml
/ Version : 1.0.0 (2008-09-04) YYYY-MM-DD
/ Author : Novelys
/ Author's Uri : www.novelys.com



%html{'xmlns' => 'http://www.w3.org/1999/xhtml', 'xml:lang'=> 'fr', 'lang' => 'fr'}
  %head
    %title!= "GameCamp :: #{@page_title}"
    %meta{'content' => 'text/html; charset=UTF-8', 'http-equiv'=> 'content-type'}
    != stylesheet_link_tag 'reset', 'layout', 'lightbox'
    != javascript_include_tag :all
  %body
    - if controller.controller_name == "attendees" && controller.action_name == "index"
      :javascript
        document.observe('dom:loaded', function() {
          Effect.SlideDown('MemberListContainer', { duration: 1.8 })
        })
    %div{ :id => 'HeaderBannerContainer'}
    %div{ :id => 'GlobContainter'}
      %div{ :id => 'Menu'}
        %ul
          %li{ :class => 'Active'}
            != link_to "Accueil", "/"
          %li
            != link_to "S'inscrire maintenant", new_attendee_path
          %li
            %a{ :href => attendees_path }
              Ils participeront
              %span
                != "(#{Attendee.count})"
          %li{ :class => 'Right'}
            != link_to "Vers BarCamp.org", 'http://barcamp.org/BarCampAlsace6'

      %div{ :id => 'Content', :class => 'ClearFix'}
        != yield

      %div{ :id => 'Footer'}
        %ul
          %li{ :class => 'Logo'}
          %li{ :class => 'Date'}
            Cette première édition du GameCampParis se déroulera dans les locaux de
            != link_to "PLAY ALL", "https://usineaprojet.wikispaces.com/"
            %br
            le samedi 5 décembre 2009
            %br
            != link_to("8 passage Brûlon 75012 Paris", "http://maps.google.fr/maps?f=q&source=s_q&hl=fr&geocode=&q=31A+rue+principale+Schiltigheim,+France&sll=46.75984,1.738281&sspn=7.58788,21.09375&ie=UTF8&ll=48.606468,7.751498&spn=0.007151,0.020599&z=16&iwloc=A") + ", métro Ledru-Rolin"

