!!! Strict
/ Filename : Structure.html
/ Redered form : Structure.haml
/ Version : 1.0.0 (2008-09-04) YYYY-MM-DD
/ Author : Novelys
/ Author's Uri : www.novelys.com



%html{'xmlns' => 'http://www.w3.org/1999/xhtml', 'xml:lang'=> 'fr', 'lang' => 'fr'}
  %head
    %title!= "Forum Ouvert :: #{@page_title}"
    %meta{'content' => 'text/html; charset=UTF-8', 'http-equiv'=> 'content-type'}
    != stylesheet_link_tag 'reset', 'layout', 'lightbox'
    != javascript_include_tag :all
  %body
    - if controller.controller_name == "attendees" && controller.action_name == "index"
      :javascript
        document.observe('dom:loaded', function() {
          Effect.SlideDown('MemberListContainer', { duration: 1.8 })
        })
    %div{ :id => 'HeaderBannerContainer'}
    %div{ :id => 'GlobContainter'}
      %div{ :id => 'Menu'}
        %ul
          %li{ :class => 'Active'}
            != link_to "Accueil", "/"
          %li
            != link_to "S'inscrire maintenant", new_attendee_path
          %li
            %a{ :href => attendees_path }
              Ils participeront
              %span
                != "(#{Attendee.count})"
          %li
            != link_to "Commodités", commodities_path
          /
            %li{ :class => 'Right'}
              != link_to "Vers BarCamp.org", 'http://barcamp.org/BarCampAlsace6'

      %div{ :id => 'Content', :class => 'ClearFix', :align => (controller.controller_name == "welcome" ? "center" : nil)}
        != yield

      %div{ :id => 'Footer'}
        %ul
          %li{ :class => 'Logo'}
          %li{ :class => 'Date'}
            Le Forum Ouvert se déroulera dans les locaux du Centre Européen de la Jeunesse
            %br
            les vendredi 27 et samedi 28 novembre 2009
            %br
            != link_to "30, Rue Pierre de Coubertin, 67000 Strasbourg, France.", "http://maps.google.fr/maps?f=q&source=s_q&hl=fr&geocode=&q=Centre+europ%C3%A9en+de+la+jeunesse+30+rue+Pierre+de+Coubertin+STRASBOURG&sll=46.75984,1.738281&sspn=7.557764,20.302734&ie=UTF8&hq=Centre+europ%C3%A9en+de+la+jeunesse&hnear=30+Rue+Pierre+de+Coubertin,+67000+Strasbourg&ll=48.603772,7.76948&spn=0.007123,0.019827&z=16&iwloc=A"
