!!!
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title= ["BarCampAlsace6", @page_title].compact.join(" - ")
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :href => "/images/favicon.ico", :rel => "shortcut icon" }
    != stylesheet_link_tag "/lib/css/blueprint/screen.css", :media => "screen, projection"
    != stylesheet_link_tag "/lib/css/blueprint/plugins/tabs/screen.css", :media => "screen, projection"
    != stylesheet_link_tag "/lib/css/blueprint/print.css", :media => "print"
    /[if lt IE 8]
      != stylesheet_link_tag "/lib/css/blueprint/ie.css", :media => "screen, projection"
    != stylesheet_link_tag "/lib/css/screen.css", :media => "screen, projection"

  %body
    .container
      .span-24.last
        != image_tag "/lib/images/barcampalsace.jpg"
      .span-24.last#menu
        %ul
          %li.first
            != link_to "Accueil", "/"
          %li
            != link_to "Inscription", new_attendee_path
          %li.counter
            != link_to "Participants au BarCamp <span class='new'>#{Attendee.count}</span>", attendees_path
          %li.last
            != link_to "Page BarCamp.org", "http://barcamp.org/BarCampAlsace6"
      != yield
