!!! Strict
/ Filename : Structure.html
/ Redered form : Structure.haml
/ Version : 1.0.0 (2008-09-04) YYYY-MM-DD
/ Author : Novelys
/ Author's Uri : www.novelys.com

%html{'xmlns' => 'http://www.w3.org/1999/xhtml', 'xml:lang'=> 'fr', 'lang' => 'fr'}
  %head
    %title!= "BarCampAlsace6.5 :: #{@page_title}"
    %meta{'content' => 'text/html; charset=UTF-8', 'http-equiv'=> 'content-type'}
    != stylesheet_link_tag 'reset', 'layout', 'lightbox'
    != javascript_include_tag :all
  %body
    - if controller.controller_name == "attendees" && controller.action_name == "index"
      :javascript
        document.observe('dom:loaded', function() {
          Effect.SlideDown('MemberListContainer', { duration: 1.8 })
        })
    %div{ :id => 'HeaderBannerContainer'}
    %div{ :id => 'GlobContainter'}
      %div{ :id => 'Menu'}
        %ul
          %li{ :class => 'Active'}
            != link_to t("home"), "/"
          %li
            != link_to t("subscribe"), new_attendee_path
          %li
            %a{ :href => attendees_path }
              != t("they_will_participate")
              %span
                != "(#{Attendee.count})"
          %li{ :class => 'Right'}
            != link_to t("to_barcamp_org"), 'http://barcamp.org/BarCampAlsace65'

      %div{ :id => 'Content', :class => 'ClearFix'}
        != yield

      %div{ :id => 'Footer'}
        %ul
          %li{ :class => 'Logo'}
            != link_to image_tag("LogoBarCampAlsace6.jpg"), 'http://barcamp.org/BarCampAlsace65'
          %li{ :class => 'Date'}
            BarCampAlsace6.5
            %br
            - date = Date.new(2010, 5, 8)
            = l(date, :format => :long)
            %br
            != link_to "17 rue des magasins 67000 Strasbourg, France", @gmaps_link

