!!!
%html
  %head
    %title BarCampEurodistrict :: #{@page_title}
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #HeaderBannerContainer.de
      %ul.lang
        %li
          %a.en{:href => "#"}
        %li
          %a.de{:href => "#"}
        %li
          %a.fr{:href => "#"}
    #GlobContainter
      #Menu
        %ul
          %li.Active
            - url = I18n.locale == :en ? "/" : "/#{I18n.locale}"
            = link_to t(:nav_home), url
          %li
            = link_to t(:nav_attend_now), new_attendee_path
          %li
            %a{ :href => attendees_path }
              = t(:nav_attending)
              %span
                != "(#{Attendee.count})"
          %li.Right
            != link_to t(:nav_to_barcamp), 'http://barcamp.org/BarCampEurodistrict'

      %div#Content.ClearFix
        != yield

      %div#Footer
        %ul
          %li.Logo
            != link_to image_tag("LogoBarCampAlsace6.jpg"), 'http://barcamp.org/BarCampAlsace6'
          %li.Date
            = t(:footer_line_1)
            != link_to "CPPlex", "http://www.cpplex.org"
            %br
            = t(:footer_line_2)
            %br
            != link_to "17 rue des magasins Strasbourg, France.", "http://maps.google.fr/maps?f=q&source=s_q&hl=fr&geocode=&q=17+Rue+des+Magasins,+Strasbourg&sll=46.75984,1.738281&sspn=8.354699,23.269043&ie=UTF8&hq=&hnear=17+Rue+des+Magasins,+67000+Strasbourg,+Bas-Rhin,+Alsace&z=16"
