!!! UTF-8
!!! Strict
/ Filename : Structure.html
/ Redered form : Structure.haml
/ Version : 1.0.0 (2008-09-04) YYYY-MM-DD
/ Author : Novelys
/ Author's Uri : www.novelys.com



%html{'xmlns' => 'http://www.w3.org/1999/xhtml', 'xml:lang'=> 'fr', 'lang' => 'fr'}
  %head
    %title!= "BarCampAlsace6 :: #{@page_title}"
    %meta{'content' => 'text/html; charset=UTF-8', 'http-equiv'=> 'content-type'}
    != stylesheet_link_tag :all
    != javascript_include_tag :all
  %body
    %div{ :id => 'HeaderBannerContainer'}
    %div{ :id => 'GlobContainter'}
      %div{ :id => 'Menu'}
        %ul
          %li{ :class => 'Active'}
            != link_to "Accueil", "/"
          %li
            != link_to "S'inscrire maintenant", new_attendee_path
          %li
            %a{ :href => attendees_path }
              Ils participeront
              %span
                != "(#{Attendee.count})"
          %li{ :class => 'Right'}
            != link_to "Vers BarCamp.org", 'http://barcamp.org/BarCampAlsace6'

      %div{ :id => 'Content', :class => 'ClearFix'}
        != yield

      %div{ :id => 'Footer'}
        %ul
          %li{ :class => 'Logo'}
            != link_to image_tag("LogoBarCampAlsace6.jpg"), 'http://barcamp.org/BarCampAlsace6'
          %li{ :class => 'Date'}
            La 6ème édition du BarCampAlsace se déroulera dans les locaux de l'
            != link_to "Usine à projets", "https://usineaprojet.wikispaces.com/"
            %br
            le samedi 10 octobre 2009
            %br
            != link_to "31A rue principale Schiltigheim, France.", "http://maps.google.fr/maps?f=q&source=s_q&hl=fr&geocode=&q=31A+rue+principale+Schiltigheim,+France&sll=46.75984,1.738281&sspn=7.58788,21.09375&ie=UTF8&ll=48.606468,7.751498&spn=0.007151,0.020599&z=16&iwloc=A"

