!!!
%html
  %head
    %title #{t(:homepage_title).html_safe} :: #{@page_title}
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
  %body
    #HeaderBannerContainer{:class => I18n.locale}
      %ul.lang{style: "display:none;"}
        %li
          - url = controller.controller_name == "welcome" ? "/de" : url_for(:locale => "de")
          %a.de{:href => url}
        %li
          - url = controller.controller_name == "welcome" ? "/" : request.path.gsub(/\/de|\/fr/, "")
          %a.fr{:href => url}
    #GlobContainter
      #Menu
        %ul
          %li{:class => controller.controller_name == "welcome" && "Active"}
            - url = I18n.locale == :fr ? "/" : "/#{I18n.locale}"
            = link_to t(:nav_home), url
          %li{:class => controller.controller_name == "attendees" && controller.action_name == "new" && "Active"}
            = link_to t(:nav_attend_now), new_attendee_path
          %li{:class => controller.controller_name == "attendees" && controller.action_name == "index" && "Active"}
            %a{ :href => attendees_path }
              = t(:nav_attending)
              %span
                != "(#{Attendee.count})"

      %div#Content.ClearFix
        != yield

      %div#Footer
        %ul
          %li.Date
            = t(:footer_line_1)
            %br
            = t(:footer_line_2)
            %br
            != link_to "Lieu à définir", "http://goo.gl/maps/"
