!!!
%html
  %head
    %title #{t(:homepage_title).html_safe} :: #{@page_title}
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
  %body
    #HeaderBannerContainer{:class => I18n.locale}
      %ul.lang{style: "display:none;"}
        %li
          - url = controller.controller_name == "welcome" ? "/de" : url_for(:locale => "de")
          %a.de{:href => url}
        %li
          - url = controller.controller_name == "welcome" ? "/" : request.path.gsub(/\/de|\/fr/, "")
          %a.fr{:href => url}
    #GlobContainter
      #Menu
        %ul
          %li{:class => controller.controller_name == "welcome" && "Active"}
            - url = I18n.locale == :fr ? "/" : "/#{I18n.locale}"
            = link_to t(:nav_home), url
          %li{:class => controller.controller_name == "attendees" && controller.action_name == "new" && "Active"}
            = link_to t(:nav_attend_now), new_attendee_path
          %li{:class => controller.controller_name == "attendees" && controller.action_name == "index" && "Active"}
            %a{ :href => attendees_path }
              = t(:nav_attending)
              %span
                != "(#{Attendee.count})"

      %div#Content.ClearFix
        != yield

      %div#Footer
        %ul
          %li.Date
            = t(:footer_line_1)
            %br
            = t(:footer_line_2)
            %br
            != link_to "La Plage Digitale", "https://maps.google.fr/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=La+Plage+Digitale,+Route+du+Rhin,+Strasbourg&amp;aq=0&amp;oq=La+Plage,+Strasbourg&amp;sll=48.599123,7.587081&amp;sspn=1.707438,4.22699&amp;t=h&amp;ie=UTF8&amp;hq=La+Plage+Digitale,&amp;hnear=Route+du+Rhin,+Illkirch-Graffenstaden,+Bas-Rhin,+Alsace&amp;ll=48.573082,7.760267&amp;spn=0.121785,0.067438", target: "_blank"
