!!!
%html
  %head
    %title GameCampParis Rebirth :: #{@page_title}
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
    %link{:href => root_url[0..-2]+image_path("RailsCampParis3_fb.png"), :rel => 'image_src'}
  %body
    #HeaderBannerContainer{:class => I18n.locale}
      %ul.lang
        %li
          - url = controller.controller_name == "welcome" ? "/en" : url_for(:locale => "en")
          %a.en{:href => url}
        %li
          - url = controller.controller_name == "welcome" ? "/" : request.path.gsub(/\/en|\/fr/, "")
          %a.fr{:href => url}
    #GlobContainter
      #Menu
        %ul
          %li.Active
            - url = I18n.locale == :fr ? "/" : "/#{I18n.locale}"
            = link_to t(:nav_home), url
          %li
            = link_to t(:nav_attend_now), new_attendee_path
          %li
            %a{ :href => attendees_path }
              = t(:nav_attending)
              %span
                != "(#{Attendee.count})"
          %li.Right
            != link_to t(:nav_to_barcamp), 'http://barcamp.org/RailsCampParis3'

      %div#Content.ClearFix
        != yield

      %div#Footer
        %ul
          %li.Date
            = t(:footer_line_1)
            %br
            = t(:footer_line_2)
            %br
            != link_to "110 rue des poissonniers, Paris, France.", "http://maps.google.fr/maps?q=110+rue+des+poissonniers+paris&hl=fr&ie=UTF8&sll=48.894688,2.346139&sspn=0.016618,0.045447&hnear=110+Rue+des+Poissonniers,+75018+Paris,+%C3%8Ele-de-France&t=m&z=16"
